.docs {
  text-align: justify;
  margin: 0 1em;
}

.docs pre code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: .8em;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.docs .toc {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.39);
  padding: 10px;
}

.docs .toc ul {
  list-style-type: none;
  margin: 0;
  padding: .25em;
}

.docs .main {
  margin-left: 16%; /* Same as the width of the sidebar */
  padding: 0px 10px;
  margin-bottom: 10px;
}

.docs .footer {
  width: 100%;
  height: 50px;
  position: relative;
}

.docs .footer .next {
  right: 0px;
}

.docs .footer .prev {
  left: 0px;
}

.docs .footer .next, .docs .footer .prev {
  position: absolute;
  text-decoration: none;
  border: 1px solid black;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  background: white;
  color: black;
  -webkit-transition: background linear .25s;;
  -moz-transition: background linear .25s;;
  transition: background linear .25s;
  border-radius: 40px;
}

.docs .footer .next:hover {
  background: black;
  color: white;
}