.docs {
  text-align: justify;
  margin: 0 1em;
}

.docs .main p {
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(48, 52, 68);
  text-decoration: underline;
}

.docs .main .description {
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(48, 52, 68);
}

.docs .main small {
  font-size: .95em;
  line-height: .75em;
  letter-spacing: .024em;
}

.docs pre code {
  display: block;
  padding: 15px;
}

.docs .toc {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.39);
  padding: 10px;
}

.docs .toc ul {
  list-style-type: none;
  margin: 0;
  padding: 0 .45em;
  line-height: 1.75em;
}

.docs .toc ul a {
  text-decoration: none;
  color: black;
}

.docs .toc ul a:hover {
  text-decoration: underline;
  color: #006d9a;
}

.docs .toc ul span {
  transition: transform 0.4s;
  width: 5px;
  background-image: linear-gradient(90deg, #006d9a, #034b69);
  background-size: 100%;
  height: 25px;
  transform: translateY(0px);
  display: inline-block;
  position: absolute;
  right: 0;
}

.docs .header {
  width: 100%;
  position: fixed;
  top: 0;
  display: inline-block;
  background: gray;
}

.docs .header h2 {
}

.docs .main {
  margin-left: 16%; /* Same as the width of the sidebar */
  padding: 0px 10px;
  margin-bottom: 10px;
}

.docs .footer {
  width: 100%;
  height: 50px;
  position: relative;
}

.docs .footer .next {
  right: 0px;
}

.docs .footer .prev {
  left: 0px;
}

.docs .footer .next, .docs .footer .prev {
  position: absolute;
  text-decoration: none;
  border: 1px solid black;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 5px 15px;
  display: inline-block;
  outline: none;
  background: white;
  color: black;
  -webkit-transition: background linear .25s, border linear .25s, color linear .25s;
  -moz-transition: background linear .25s, border linear .25s, color linear .25s;
  transition: background linear .25s, border linear .25s, color linear .25s;
  border-radius: 40px;
}

.docs .footer .next:hover, .docs .footer .prev:hover {
  background: #006d9a;
  border-color: #006d9a;
  color: white;
}